html, body, #root {
  height: 100%;
}

.leaflet-container {
  width: 100vw;
  height: 100%;
  overflow: none;
  position: absolute;
}

/* left aligns the map layer selection pane */
.leaflet-control-layers-expanded {
  text-align: left;
}

table {
  float: right;
  position: absolute;
  bottom: 0px;
}

.legend {
  text-align: center;
  padding: 6px;
  font: 12px Arial, Helvetica, sans-serif;
  background: rgba(255, 255, 255, 0.7);
  /*vertical height of legend*/
  line-height: 14px;
  /*text color*/
  color: rgba(0, 0, 0);
}
