html, body, #root {
  height: 100%;
}

.leaflet-container {
  width: 100vw;
  height: 100%;
  overflow: none;
  position: absolute;
}

/* left aligns the map layer selection pane */
.leaflet-control-layers-expanded {
  text-align: left;
}

table {
  float: right;
  position: absolute;
  bottom: 0px;
}

.legend {
  text-align: center;
  padding: 6px;
  font: 12px Arial, Helvetica, sans-serif;
  background: rgba(255, 255, 255, 0.7);
  /*vertical height of legend*/
  line-height: 14px;
  /*text color*/
  color: rgba(0, 0, 0);
}

/* override for boostrap cards */
.card{
  width: 18rem;
  padding: 10px;
  margin: 10px;
}

/* override for reset button border */
.leaflet-bottom.leaflet-right .leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar{
  border: none !important;
  background-clip: padding-box;
}

  /* .leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar {
    border: 9px solid rgba(0,0,0,0.2) !important;
    background-clip: padding-box;

} */